.center-image{
    /*display: block;*/
    float: none;
    margin: 0px auto;
    margin-top: 10px;
}

.marginTop10{
    margin-top: 10px;
}

/*button Style*/
.btnblue{
  color: #FFF;
  border-radius: 0px;
  background-color: #0094d9;
  box-shadow: none;
}
.btnblue:hover, .btnblue:active{
  color: #D1ECF9;
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.resetpasswordcontainer{
    margin: 20px auto;
    width: 300px;
}

.alerts {
    margin: auto auto;
    padding: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    min-width: 300px;
    width: 90%;
    max-width: 600px;
    height: auto;
    z-index: 999999;
}
.alerts>.alert-dismissable {
 position:relative;
 z-index:11;
 min-width:500px;
 width: 90%;
  max-width: 600px;
}
