<div  ng-controller="forumCategoriesCntrl">
    <div class="row">
        <ol class="breadcrumb pagebreadcrumb">
            <li>Category</li>
        </ol>
    </div>
    
    <div class="row toolbar marginTop10 hidden-xs hidden-sm" id="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar" id="toolbar">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <button type="button" class="btn btn-primary" id="addNew" ng-click="goToPage('rti.forum-categories-save')"><span class="glyphicon glyphicon-plus"></span> Add New</button></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <form class="form-inline pull-right" role="search" ng-submit="clearText(search);" ng-model="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="filter" placeholder="Search" ng-model="search.text">
                    </div>
                    <button type="submit" class="btn btn-danger clearBtn">
                        <span class="icon icon-clear"></span>Clear
                    </button>
                </form>
            </div>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%" align="center">
        <thead>
            <tr>
                <td>
                    <dir-pagination-controls boundary-links="true" class="pull-center" pagination-id="categoriesPagination" template-url="partials/tpl/common/pagination.tpl.html"></dir-pagination-controls>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                <table class="table table-bordered" ng-model="categories">    
                    <thead>
                        <th>Sl No.</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <div id="loadingRecord" class="text-center loading"></div>
                         <tr dir-paginate="category in categories | filter : search.text | orderBy:'title':true | itemsPerPage: pageSize"
                            ng-if="categories.length > 0 || categories != undefined" current-page="currentPage" pagination-id="categoriesPagination">
                            <td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
                            <td data-sort-ignore="true">
                                <a href="#/forum-categories-save/{{category.id}}">{{category.title}}</a></td>
                            <td data-sort-ignore="true">{{category.description}}</td>
                            <td ng-if="category.status == 1">Active</td>
                            <td ng-if="category.status == 2">Inactive</td>
                        </tr>
                        <tr ng-if="categories.length <= 0">
                            <td colspan="6">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td>
                    <dir-pagination-controls boundary-links="true" class="pull-right" pagination-id="categoriesPagination" template-url="partials/tpl/common/pagination.tpl.html"></dir-pagination-controls>
                </td>
            </tr>
        </tfoot>
    </table>
</div>