<!-- Social Sharing -->

<div class="socicalIcon articleShareIcon" ng-controller="sharingController">
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/facebook.jpg" ng-click="facebookShare(article);"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/google-plus.jpg" ng-click="googlePlusShare(article);"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/twitter.jpg" ng-click="twitterShare(article);"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/pin.jpg" ng-hide="true"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/instagram.jpg" ng-hide="true"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/youtube.jpg" ng-hide="true"></a>
    <a href="#"><img class="margin-3" src="{{$MEDIA_FILES_URL}}images/linkedin.jpg" ng-click="linkedInShare(article);"></a>
</div>

<!-- Social Sharing -->