<div class="navbar navbar-default navbar-static-top" role="navigation" id="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Yomillio Admin Portal</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-if="username != undefined || username != null">
                <li><a href="#">Welcome {{username}}</a></li>
                <li><a href="#/change-password" class="iconmenu" data-toggle="tooltip" data-placement="top" title="Change Password"><div class="icon icon-settings"></div></a></li>
                <li><a href="#/login" class="iconmenu" data-toggle="tooltip" data-placement="top" title="Logout"><div class="icon icon-signout"></div></a></li>
            </ul>
        </div>
    </div>
</div>