<div id="sidemenu" ng-controller="sideBarCntrl">
    <div class="sidemenuwrapper">
        <div class="panel-group marginTop10 custom-panel-group">
            
            <div id="active" class="custom-panel panel panel-default">
                <div  class="custom-panel-heading panel-heading">
                    <h6 class="panel-title custom-panel-title">
                        Dashboard <span class="caret"></span>
                    </h6>
                </div>
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/home">Welcome</a></h5>
                    </div>
                </div>
            </div>
            
            <div class="custom-panel panel panel-default">
                <div class="custom-panel-heading panel-heading active">
                    <h6 class="panel-title custom-panel-title">
                        Users <span class="caret"></span>
                    </h6>
                </div>
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/admin/users">Admin Users</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/users-list">Portal Users</a></h5>
                    </div>
                </div>
            </div>
            
            <div class="custom-panel panel panel-default">
                <div class="custom-panel-heading panel-heading">
                    <h6 class="panel-title custom-panel-title">
                        Articles <span class="caret"></span>
                    </h6>
                </div>
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/articles-list">Article List</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/categories-list">Categories</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/tags-list">Tags</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/comments-list">Article Comments</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/submitted-articles-list">User Submitted Articles</a></h5>
                    </div>
                </div>
            </div>
            
            <div class="custom-panel panel panel-default">
                <div class="custom-panel-heading panel-heading">
                    <h6 class="panel-title custom-panel-title">
                        Forums <span class="caret"></span>
                    </h6>
                </div>
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/forum-categories-list">Categories</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/forum-list">Forums</a></h5>
                    </div>
                </div>
            </div>
            <!--
            <div class="custom-panel panel panel-default">
                <div class="custom-panel-heading panel-heading">
                    <h6 class="panel-title custom-panel-title">
                        Events <span class="caret"></span>
                    </h6>
                </div>
                
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/organizers-list">Organizers</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/venues-list">Venues</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/participants-list">Sponsors / Speakers</a></h5>
                        <h5 class="submenu-name" data-menuid=""><a href="#/events-list">Events</a></h5>
                         <h6 class="submenu-name" data-menuid=""><a href="#/tickets-list">Tickets</a></h6>
                        <h6 class="submenu-name" data-menuid=""><a href="#/eventbrite-imports-list">EventBrite Import</a></h6>
                    </div>
                </div>
            </div>
           
            <div class="custom-panel panel panel-default">
                <div class="custom-panel-heading panel-heading">
                    <h6 class="panel-title custom-panel-title">
                        Webpages <span class="caret"></span>
                    </h6>
                </div>
                <div id="articles-list">
                    <div class="panel-body custom-panel-body">
                        <h5 class="submenu-name" data-menuid=""><a href="#/webpages-list">Webpages</a></h5>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>